/* Definitions */
@widget: #f9f9f8;
@border: #ccc;
@blackish: #333;
@standard: #7cc0d5;
@standardDark: #5c99ac;
@standardLight: #dbedf3;
@weak: #bdbebf;
@weakLight: #cfd0d0;
@weakDark: #a9aaab;
@green: #76ec66;
@greenDark: #69d35b;
@greenLight: #aed3a9;
@grey: #484848;
@greyText: #666;


/* LESS mixins */
.rounded-corners (@radius: 5px) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}
.gradient (@from, @to) {
	background-color: @from;
	background: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
	background: -moz-linear-gradient(top, @from, @to);
}

#markdown {
	pre {
		background-color: #f8f8f8;
		padding: 10px;
		font: 13px 'Bitstream Vera Sans Mono', 'Courier',  monospace;
		line-height: 19px;
		border: 1px solid #ccc;
	}
}


/* CSS */
html, body {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Sans', 'Sans-serif';
	font-size: 13px;
	color: @blackish;
	width: 960px;
	margin: 0 auto;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 22px;
}
.search {
	width: 100%;
	outline: none;
	border: none;
	font-size: 16px;
	padding: 12px;
	margin-top: 10px;
	border: 1px solid #ccc;
}
.widget {
	.rounded-corners(3px);

	background-color: @widget;
	border: 1px solid @border;
	padding: 30px 40px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
.hidden {
	display: none;
}
.cursor {
	cursor: hand;
	cursor: pointer;
}
.no-select {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}
.link {
	.cursor;

	color: @standardDark;

	&:hover {
		text-decoration: underline;
	}
}
.button {
	@highlight: #111;

	.cursor;
	.rounded-corners(3px);
	.gradient(@standard, @standardDark);
	.no-select;

	color: #fff;
	border: 1px @border solid;
	padding: 5px 15px;
	text-shadow: @border 0px -1px 0px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 13px;

	&:hover {
		.gradient(@standard + @highlight, @standardDark + @highlight);

		text-decoration: none;
	}
	&:active {
		border: 1px solid @grey;
		background: @standardDark;
	}
	&.weak {
		border: 1px #666 solid;
		.gradient(@weakLight, @weakDark);

		&.clear-text {
			text-shadow: @weak 0px -1px 0px;
		}
		&:hover {
			.gradient(@weak+@highlight, @weakDark+@highlight);
		}
		&:active {
			border: 1px solid @weak;
			background: @weakDark;
		}
	}
	&.green {
		text-shadow: @green 0px -1px 0px;
		.gradient(@greenLight, @greenDark);

		&:hover {
			.gradient(@green+@highlight, @greenDark+@highlight);
		}
		&:active {
			border: 1px solid @green;
			background: @greenDark;
		}
	}
	&.small {
		font-size: 11px;
		height: 22px !important;
		line-height: 22px;
		padding: 0 5px 0 5px;
	}
	&.grey {
		background: @grey;
		border: 1px solid @grey;
		text-shadow: @greyText 0px -1px 0px;

		&:active {
			border: 1px solid @grey;
		}
	}
	.icon {
		display: block;
		float: left; 
		background-repeat: no-repeat; 
	}
	.text {
		display:block; 
		//width:125px; 
		padding:3px 7px;
	}
}
.filler-50 {
	height: 50px;
}
.filler-120 {
	height: 120px;
}


/* Pages */
#index {
	.help-us {
		width: 730px;
		margin: 0 auto;
	}
	.git-logo {
		background: url(/static/images/githubcat_200.png);
		margin-right: 30px;
		width: 200px;
		height: 200px;
	}
	.info {
		width: 500px;
		font-size: 14px;
		line-height: 20px;
	}
	.continue {
		height: 30px;
		width: 300px;
		margin: 30px auto;
		line-height: 30px;
		font-size: 16px;
	}
}